* {
    font-family: monospace;
}
a {
    color: blue !important;
}
table {
    border-collapse: collapse;
}
table thead tr th,
table tbody tr td {
    border:1px solid black;
    min-width: 30px;
    padding: 5px;
    text-align: center;
}
table thead tr th {
    background: black;
    color: white;
}
table tbody tr td[colspan] {
    color: #999999;
    text-align: left;
}