* {
    font-family: monospace;
}
body {
    margin-bottom: 150px;
}
a {
    color: blue !important;
}
a[href^='#'],
h1 a {
    color: darkblue !important;
    text-underline-offset: 3px;
}
p.error {
    color: red;
}
table {
    border-collapse: collapse;
}
table thead tr th,
table tbody tr td {
    border:1px solid black;
    min-width: 40px;
    padding: 5px;
    text-align: center;
}
table thead tr th {
    background: black;
    color: white;
}
table tbody tr td[colspan] {
    opacity: 0.6;
    text-align: left;
}
table tbody tr td.team-name,
table tbody tr td.league-name {
    text-align: left;
    width: 250px;
}
table tbody tr td.team-notes {
    text-align: left;
    width: 400px;
}
abbr {
    cursor: help;
    text-underline-offset: 3px;
}
tr.is-champion {
    background: #aad9f5;
}
tr.is-promoted {
    background: #9acd32;
}
tr.is-relegated {
    background: #e19284;
}
tr.is-removed {
    background: #db0404;
}
table tbody tr td.match-home {
    text-align: right;
}
table tbody tr td.match-score {
    width: 75px;
}
table tbody tr td.match-loser {
    opacity: 0.6;
}
table.matches-no-dates tr > :first-child {
    display: none;
}
table.standings-no-notes tr > :last-child {
    display: none;
}
h2 {
    border-top: 1px solid #999999;
    padding-top: 10px;
}