* {
    font-family: monospace;
}
body {
    margin-bottom: 150px;
}
a {
    color: blue !important;
}
a[href^='#'] {
    color: darkblue !important;
    text-underline-offset: 3px;
}
table {
    border-collapse: collapse;
}
table thead tr th,
table tbody tr td {
    border:1px solid black;
    min-width: 30px;
    padding: 5px;
    text-align: center;
}
table thead tr th {
    background: black;
    color: white;
}
table tbody tr td[colspan] {
    color: #999999;
    text-align: left;
}
table tbody tr td.team-name,
table tbody tr td.team-notes {
    text-align: left;
    width: 250px;
}
abbr {
    cursor: help;
    text-underline-offset: 3px;
}
tr.is-champion {
    background: #aad9f5;
}
table tbody tr td.match-home {
    text-align: right;
}
table tbody tr td.match-score {
    width: 75px;
}
table.matches-no-dates tr > :first-child {
    display: none;
}
table.standings-no-notes tr > :last-child {
    display: none;
}
h2 {
    border-top: 1px solid #999999;
    padding-top: 10px;
}