* {
    font-family: monospace;
}
a {
    color: blue !important;
}
table {
    border-collapse: collapse;
}
table thead tr th,
table tbody tr td {
    border:1px solid black;
    padding: 5px;
}
table thead tr th {
    background: black;
    color: white;
}